body {
    font-family: 'font2', sans-serif;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-clip: blur(8px);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pokedevs {
    display: flex;
    gap: 10px;
    padding: 30px 0;
}

.cartao-pokedev {
    display: none;
    max-width: 360px;
    border-radius: 10px;
    box-shadow: rgba(110, 111, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-pokedev.aberto {
    display: block;
}

.cartao-pokedev img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.cartao-pokedev .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-pokedev .nome {
    margin-bottom: 5px;
}

.cartao-pokedev .tipo {
    background-color: #ffffff;
    font-family: 'font1', sans-serif;
    font-size: 20px;
    color: #555;
    border-radius: 6px;
    opacity: 0.7;
    padding: 2px 10px;
}

.cartao-pokedev .detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokedev .cartao-informacoes {
    display: flex;
    padding: 80px 30px 50px;
    background-color: #ffffff;
    justify-content: space-between;
    margin-top: -70px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cartao-pokedev .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.cartao-pokedev .cartao-informacoes .descricao {
    padding: 0 10px;
    font-size: 14px;
    max-height: 150px;
    overflow-y: scroll;
}

.tipo-eletrico {
    background-color: #FFCC00;
}

.tipo-fogo {
    background-color: #FF5733;
}

.tipo-agua {
    background-color: #3399FF;
}

.tipo-grama {
    background-color: #33CC33;
}

.tipo-trevas {
    background-color: #ba68c8;
}

.tipo-fada {
    background-color: #C29791;
}

.listagem {
    max-width: 200px;
}

.listagem .pokedev img {
    width: 25px;
}

.listagem .pokedev {
    background-color: #555;
    color: #ffffff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 10px;
    min-height: 70px;
    transition: 0.4s ease-in-out;
}

.listagem .pokedev:hover {
    background-color: cyan;
    transform: scale(1.2);
}

.listagem .pokedev span {
  padding-right: 20px;
}

.listagem .pokedev .ativo {
    background-color: #fa6668;
}